[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1.5"
python-decouple = "3.6"
pillow = "9.4.0"

[dev-packages]
black = "*"

[scripts]
server = "python manage.py runserver"
