<nav class="navbar navbar-expand-lg container"
    <div class="container-fluid" hx-boost="true">
      <a class="navbar-brand fw-semibold" 
        href="/" 
      >
        BlogPOT.
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a
              class="nav-link py-md-1 active border-bottom border-dark"
              href="/"
            >
              Home
            </a>
        </div>
      </div>
    </div>
</nav>