{% extends "base/index.html" %}
{% load static %}

{% block content %}
    <img 
        class="blog-image" 
        src="{% get_media_prefix %}{{ blog.image }}" 
        alt="{{ blog.title }}"
        loading="lazy"
    />
    <figure class="text-center">
        <blockquote class="blockquote">
        <p class="blog-title">{{ blog.title }}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
        Authored by <cite title="Source Title">{{ blog.author.get_full_name }}</cite>
        </figcaption>
    </figure>
    <p class="blog-content">
        {{ blog.content }}
    </p>
{% endblock content %}
