{% extends "base/index.html" %}
{% load static %}

{% block content %}
    <div class="row" hx-boost="true">
        {% for blog in blogs %}
            <div class="col-12 col-md-6">
                <div class="card h-100">
                    <div class="card-header">
                        Blog - {{ forloop.counter }}
                    </div>
                    <div class="row h-100">
                        {% if blog.image %}
                            <div class="col-4">
                                <img 
                                class="blog-card-image" 
                                src="{% get_media_prefix %}{{ blog.image }}" 
                                alt="{{ blog.title }}"
                                loading="lazy"
                                />
                            </div>
                        {% endif %}
                        <div class="{% if blog.image %}col-8{% else %}col-12{% endif %}">
                            <div class="card-body  h-100 d-flex flex-column">
                              <h5 class="card-title">{{ blog.title }}</h5>
                              {% if blog.image %}<p class="card-text  flex-grow-1">{{ blog.content|truncatechars:300 }}</p>{% else %}<p class="card-text  flex-grow-1">{{ blog.content|truncatechars:600 }}</p>{% endif %}
                              
                              <a href="{% url 'blog_detail' blog.slug %}" class="btn btn-secondary">View Blog Post</a>
                            </div>
                        </div>
                      </div>
                      <div class="card-footer text-muted">
                          {{ blog.created_on|date:"P D d M Y" }}
                      </div>   
                  </div>                     
            </div>
        {% empty %}
            <div class="alert alert-warning" role="alert">
                Sorry, no blog in this list.
            </div>
        {% endfor %}
    </div>
{% endblock content %}